
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>רופא</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CareMed demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/about.css">
    <link rel="stylesheet" type="text/css" href="/styles/about_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header trans_200">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <div class="emergencies  d-flex flex-row align-items-center justify-content-start ml-auto">למקרי חירום: 035467890</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <nav class="main_nav ml-auto">
                                    <ul>
                                        <li>@Html.ActionLink("קטלוג תרופות", "Index", "Catalog")</li>
                                        <li>@Html.ActionLink("מטופל", "Index", "Patient") </li>
                                        <li>@Html.ActionLink("רופא", "Index", "Doctor")</li>
                                        <li>@Html.ActionLink("מנהל", "Index", "Admin")</li>
                                        <li>@Html.ActionLink("בית", "Index", "Home")</li>
                                    </ul>
                                </nav>
                                <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logo -->
            <div class="logo_container_outer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="logo_container">
                                <a href="#">
                                    <div class="logo_content d-flex flex-column align-items-start justify-content-center">
                                        <div class="logo_line"></div>
                                        <div class="logo d-flex flex-row align-items-center justify-content-center">
                                            <div class="logo_text">Care<span>Med</span></div>
                                            <div class="logo_box">+</div>
                                        </div>
                                        <div class="logo_sub">Health Care Center</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <!-- Menu -->

        <div class="menu_container menu_mm">

            <!-- Menu Close Button -->
            <div class="menu_close_container">
                <div class="menu_close"></div>
            </div>

            <!-- Menu Items -->
            @*<div class="menu_inner menu_mm">
                    <div class="menu menu_mm">
                        <ul class="menu_list menu_mm">
                            <li class="menu_item menu_mm"><a href="index.html">Home</a></li>
                            <li class="menu_item menu_mm"><a href="about.html">About us</a></li>
                            <li class="menu_item menu_mm"><a href="services.html">Services</a></li>
                            <li class="menu_item menu_mm"><a href="news.html">News</a></li>
                            <li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="menu_extra">
                        <div class="menu_appointment"><a href="#">Request an Appointment</a></div>
                        <div class="menu_emergencies">For Emergencies: +563 47558 623</div>
                    </div>

                </div>*@

        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/about.jpg" data-speed="0.8"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title"> <span>רופא - אזור אישי</span></div>
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="#">בית</a></li>
                                        <li>רופא</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="services">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title"><h2>התחברות</h2></div>
                    </div>
                </div>

                <div class="row services_row" dir="rtl" align="right">



                    @using (Html.BeginForm("Index","Doctor"))
                    {
                        <label>הכנס תעודה מזהה: </label>
                        <input type="text" class="form-control" id="IdDoc" name="DocId">
                        <label >הקש סיסמא: </label>
                        <br />
                        <input type="password" class="form-control" id="PassDoc" name="PassName">
                        <br />
                        <button type="submit" style="width:400px">התחברות</button>
                    }
                </div>
                <br />

                <div class="form-group">

                </div>
                @*<script>

                        function EnterPatFunction() {
                            alert("You have selected the drugs - ");
                        }
                    </script>*@





            </div>
        </div>

        <!-- Testimonials -->

        <div class="testimonials">
            <div class="testimonials_background parallax-window" data-parallax="scroll" data-image-src="/images/testimonials.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title section_title_light"><h2>המלצות מטופלים</h2></div>
                    </div>
                </div>
                <div class="row test_row">

                    <!-- Testimonial -->
                    <div class="col-lg-6 test_col">
                        <div class="testimonial">
                            <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="/images/quote.png" alt=""></div>
                            <div class="test_text">אתלטית אולימפית בת 23 ( קופצת משולשת ) עברה ניתוח בכף הרגל המנתרת עקב קרע בפסייה הפלנטרית. מדובר בניתוח מורכב שבוצע ע ” י מומחה לניתוח כף רגל בספורטאים המשמש כמומחה מייעץ לפגיעות אלה לאיגוד האתלטיקה העולמי. במהלך הטיפול הפוסט ניתוחי הוחל מייד בשימוש בבי קיור לייזר, להפחתת כאב ונפיחות, הספורטאית דיווחה על תגובה טובה מאוד לטיפול שהתבטאה בירידה בכאבים.לסיכום מקרים אלו מדגימים את היתרונות הגלומים בשימוש במכשיר הבי קיור לייזר במגוון אבחנות ופגיעות בספורטאים. השימוש העצמי פשוט ובטוח, ומסייע בזירוז זמן ההחלמה, הפחתת כאבים וחזרה מהירה ככל האפשר לפעילות מלאה.</div>
                            <div class="test_author d-flex flex-row align-items-center justify-content-start">
                                <div class="test_author_image"><div><img src="/images/test_1.jpg" alt=""></div></div>
                                <div class="test_author_name"><a href="#">קלארין סמיט</a>, <span>מטופלת</span></div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial -->
                    <div class="col-lg-6 test_col">
                        <div class="testimonial">
                            <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="/images/quote.png" alt=""></div>
                            <div class="test_text">
                                לכבוד : קר מייד שלום רב קיבלתי את המכשיר לפני כחצי שנה, והייתה לי בעיה של דלקות באזור מפרק כף היד. אני מוזיקאי , וכנראה שהמאמץ של נגינה מתמשכת על גיטרה באס הכבידה על האזור.
                                סבלתי מהכאבים האלו במשך כעשר שנים. סבלתי מכאבים קשים מאוד, ברמה של אובדן כושר עבודה, ואז התחלתי להשתמש במכשיר, 2 – 4 פעמים ביום 6 – 7 דקות בכל פעם בשילוב עם תרופות די מהר תוך 3 – 4 ימים התחלתי להרגיש שיפור וחזרתי לעבוד ולנגן תוך כשבועיים. היום אני משתמש במכשיר בכל פעם שהכאב מתחיל להתעורר וככה אני מצליח למנוע מלהגיע למצב של התפתחות מחודשת של הדלקת וכאב חריף מאז, ההתקפים החריפים בעצם נגמרו ולא הגיעו למצב חמור כמו שהיה לפני כן .
                            </div>
                            <div class="test_author d-flex flex-row align-items-center justify-content-start">
                                <div class="test_author_image"><div><img src="/images/test_2.jpg" alt=""></div></div>
                                <div class="test_author_name"><a href="#">מיקי וולפסון</a>, <span>מטופל</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Team -->

        <div class="team">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title"><h2>הכירו את הצוות הרפואי שלנו</h2></div>
                    </div>
                </div>
                <div class="row team_row">

                    <!-- Team Member -->
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/images/team_1.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">ד"ר מליסה סייוט</a></div>
                                <div class="team_member_title">רופאת ילדים</div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member -->
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/images/team_2.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">ד"ר יוסי כהן</a></div>
                                <div class="team_member_title">פלסטיקאי</div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member -->
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/images/team_3.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">ד"ר מיכאלה וויס</a></div>
                                <div class="team_member_title">אורטופדית</div>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member -->
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/images/team_4.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">ד"ר אלי בוכניק</a></div>
                                <div class="team_member_title">רופא משפחה</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- Footer -->

        <footer class="footer">
            <div class="footer_container">
                <div class="container">
                    <div class="row">

                        <!-- Footer - About -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_about">
                                <div class="footer_logo_container">
                                    <a href="#" class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="logo_content">
                                            <div class="logo d-flex flex-row align-items-center justify-content-center">
                                                <div class="logo_text">Care<span>Med</span></div>
                                                <div class="logo_box">+</div>
                                            </div>
                                            <div class="logo_sub">Health Care Center</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="footer_about_text">
                                    <p>אנחנו כאן בשבילך</p>
                                </div>
                                <ul class="footer_about_list">
                                    <li><div class="footer_about_icon"><img src="/images/phone-call.svg" alt=""></div><span>+972 35467890</span></li>
                                    <li><div class="footer_about_icon"><img src="/images/envelope.svg" alt=""></div><span>office@medicine.com</span></li>
                                    <li><div class="footer_about_icon"><img src="/images/placeholder.svg" alt=""></div><span>אבן גבירול 69 תל אביב - יפו</span></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">
                                <div class="cr">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                                <div class="footer_social ml-lg-auto">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/progressbar/progressbar.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/js/about.js"></script>
</body>
</html>